<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderSummary">


	<resultMap type="OrderSummary" id="orderSummaryMap">
		<id property="ordersummary_id" column="ordersummary_id" />
		<result property="totalbuy" column="totalbuy" />
		<result property="totalpay" column="totalpay" />
		<result property="buydate" column="buydate" />
		<association property="member" column="member_id"  javaType="Member" select="Member.select"/>
		<association  property="paymethod" column="paymethod_id"  javaType="Paymethod" select="Paymethod.select"/>
		<collection property="orderDetailList"  column="ordersummary_id" javaType="java.util.List" ofType="OrderDetail" select="OrderDetail.selectByOrderSummaryId"/>
	</resultMap>



	<!-- 주문정보 입력 -->
	<insert id="insert" parameterType="OrderSummary" >
		insert into ordersummary(ordersummary_id,member_id,paymethod_id,totalbuy,totalpay) 
		values(seq_ordersummary.nextval, #{member.member_id},#{paymethod.paymethod_id},#{totalbuy},#{totalpay})
		<!-- insert와 동시에 pk를 추출할 일이 있을때 -->
		<selectKey order="AFTER" keyColumn="ordersummary_id"  keyProperty="ordersummary_id" resultType="int" >
			select seq_ordersummary.currval as ordersummary_id from dual
		</selectKey>
	</insert>


	<!-- 관리자용 -->
	<select id="selectAll" resultMap="orderSummaryMap">
		select * from ordersummary
	</select>
	
	<!-- 고객을 위한 모든 주문내역 -->
	<select id="selectByCustomerId" parameterType="Member" resultMap="orderSummaryMap">
		select * from ordersummary where customer_id =#{customer_id}
	</select>
	
	<select id="select" resultMap="orderSummaryMap">
		select * from ordersummary where ordersummary_id=#{ordersummary_id}
	</select>
	
	<update id="update" parameterType="OrderSummary">
		update ordersummary set paymethod_id=#{paymethod.paymethod_id}, totalbuy=#{totalbuy}, totalpay=#{totalpay} where ordersummary_id=#{ordersummary_id} 
	</update>
	
	
	<delete id="delete" parameterType="OrderSummary">
		delete from ordersummary where ordersummary_id=#{ordersummary_id}
	</delete>
	
</mapper>