<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderDetail">
	
	<resultMap type="OrderDetail" id="orderDetailMap">
		<id property="orderdetail_id" column="orderdetail_id" />
		<result property="ea" column="ea" />
		<result property="ordersummary_id" column="ordersummary_id" />
		<association property="product" column="product_id" javaType="Product" select="Product.select" />
	</resultMap>
	
	<select id="selectByOrderSummaryId" resultMap="orderDetailMap" parameterType="int">
		select * from orderdetail where ordersummary_id=#{ordersummary_id}
	</select>
	
	<insert id="insert" parameterType="OrderDetail">
		insert into orderdetail(orderdetail_id, product_id, ea, ordersummary_id) values(seq_orderdetail.nextval, #{product.product_id}, #{ea},#{ordersummary_id})
	</insert>
	
	<update id="update" parameterType="OrderDetail">
		update orderdetail set ea =#{ea} where orderdetail_id=#{orderdetail_id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from orderdetail where orderdetail_id=#{orderdetail_id}
	</delete>
	
</mapper>